apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: grafana
    namespace: grafana
spec:
    interval: 10m
    chart:
        spec:
            chart: grafana
            version: '10.5.15'
            sourceRef:
                kind: HelmRepository
                name: grafana
                namespace: grafana
            interval: 10m
    values:
        ingress:
            enabled: true
            ingressClassName: traefik
            hosts:
                - grafana.bibletoon.xyz
        persistence:
            enabled: true
            storageClassName: "longhorn"
            accessModes:
                - ReadWriteOnce
            size: 5Gi
        envFromSecret: grafana-auth
        grafana.ini:
            plugins:
              plugin_admin_enabled: true
              plugin_admin_external_manage_enabled: false
            server:
                root_url: 'https://grafana.bibletoon.xyz/'
            auth:
                signout_redirect_url: "https://id.bibletoon.xyz/api/oidc/end-session"
                oauth_allow_insecure_email_lookup: true
                oauth_auto_login: true
            auth.generic_oauth:
                    name: authentik
                    enabled: true
                    client_id: '${CLIENT_ID}'
                    client_secret: '${CLIENT_SECRET}'
                    scopes: "openid profile email groups"
                    auth_url: "https://id.bibletoon.xyz/authorize"
                    token_url: "https://id.bibletoon.xyz/api/oidc/token"
                    api_url: "https://id.bibletoon.xyz/api/oidc/userinfo"
                    # Optionally map user groups to Grafana roles
                    role_attribute_path: contains(groups, 'Grafana Admins') && 'Admin' || contains(groups, 'Grafana Editors') && 'Editor' || 'Viewer'
